/* 전체 폰트, 배경화면, 카드 색상 설정 */
:root {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
    --bg-header-color: #ececec;
    --bg-card-color: hsl(0, 0%, 100%);
  }
  
  /* 전체 설정 */
  body {
    min-height: 100vh;
    background-color: var(--bg-header-color);
  }
  
  h1{  
    margin: 0px auto 0px auto;
    height: 100px;
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;

  }

  /* 중간 영역 설정 */
  .middle{
    margin: 0px auto 0px auto;
    margin-top: 20px;
    width: 1000px;
    height: 500px;
    position: relative;
    background-color: #0d454f;
  }
  
.middle-left{
    display: flex;
    outline: 1px solid #9F9F9F;
    left: 50px;
    position: absolute;
    top: 0px;
    width: 400px;
    height: 500px;
    background-color: #00D8FF;
  }

  .middle-right{
    position: absolute;
    top: 0px;
    left: 500px;
    width: 500px;
    height: 500px;
    background-color: #00D8FF;
  }


  .bottom{
    margin: 0px auto 0px auto;

    margin-top: 20px;
    margin-bottom: 20px;
    outline: 1px solid #9F9F9F;
    width: 1000px;
    height: 100px;
    background-color: #5D5D5D;
    color: #fff;
  }