/* 전체 폰트, 배경화면, 카드 색상 설정 */
:root {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  --bg-header-color: #ececec;
  --bg-card-color: hsl(0, 0%, 100%);
}

/* 전체 설정 */
body {
  min-height: 100vh;
  background-color: var(--bg-header-color);
}

/* header 설정 */
h1 {
  margin: 0px auto 0px auto;
  height: 100px;
  display: flex;
  font-size: 30px;
  justify-content: center;
  align-items: center;
}

/* 검색 영역 설정 */
.search {
  margin: 0px auto 0px auto;
  display: flex;

  width: 100%;
  max-width: 500px;

  overflow: hidden;
  height: 40px;

  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: rgba(200, 200, 200, 0.2) 0px 5px 8px;
}

.search > input {
  flex: 1;
  padding: 0 16px;
  outline: none;
  border: none;
}

.search > button {
  width: 60px;
  margin: 2px;

  border: none;
  color: #ffffff;

  border-radius: 8px;
  background-color: #000000;
  transition: transform 100ms ease-in;
}

.search > button:hover {
  transform: scale(1.04);
}

/* 카드 영역 설정 */
#card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
  gap: 1rem;
  padding: 2rem;
}

.posterCard {
  display: block;
  margin: 10px;
  padding: 10px;
  justify-self: center;

  border-radius: 10px;
  background-color: var(--bg-card-color);
  border: 1px solid rgb(0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px;

  text-align: center;
  transition: transform 100ms ease-in;
}

.posterCard:hover {
  transform: scale(1.02);
}

#movieTitle {
  font-size: large;
  margin: 10px 10px 10px 10px;
}

.overview {
  margin: 0px 5px 0px 5px;
  text-align: left;
  font-size: small;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 7; /* 제한 글자의 줄을 7줄로 정해 두었음  */
  -webkit-box-orient: vertical;
}

.posterCard > img {
  width: 100%;
  border-radius: 10px;
}
