:root {
  --bg-header-color: #ececec;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-header-color);
}

/* 리뷰수정 타이틀 */
.title-msg {
  align-items: left;
  justify-content: left;
  margin: 50px auto 10px 0px
}

/* 사용자 아이디 */
.review-user {
  margin: 2px;
  display: grid;
  flex-direction: center;
  align-items: left;
  justify-content: left;
}

/* 수정 input */
.review-box {
  display: grid;
  flex-direction: center;
  align-items: center;
  justify-content: center;
}


/* 수정 input */
.edit-review {
  max-width: 600px;
  width: 500px;
  height: 100px;
  border-radius: 10px;
  resize: none;
  flex: 1;
  padding: 10px 10px;
  margin-bottom: 5px;
}

.btn-box{
  text-align: center;
}

button {
  width: 50px;
  height: 30px;
  margin: 3px;

  outline: none;
  border: 1px solid rgb(0, 0, 0);

  background-color: #ffffff;

  border-radius: 8px;
  box-shadow: rgba(200, 200, 200, 0.2) 0px 5px 8px;
  transition: transform 100ms ease-in;
}

#re-count{
  margin: 3px;
  text-align: right;
  font-size: small;
}
